<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>hServlet</servlet-name>
        <servlet-class>bstorm.akimts.demojavaee.servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hServlet</servlet-name>
        <url-pattern>/hserv</url-pattern>  <!--C'est ici qu'il faut écrire l'URL de votre servlet. -->
    </servlet-mapping>

</web-app>
